@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-beige-100 text-forest-700 font-sans;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
